<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>lindexPage</servlet-name>
    <servlet-class>com.xkd.action.IndexPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lindexPage</servlet-name>
    <url-pattern>/indexPage.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productedList</servlet-name>
    <servlet-class>com.xkd.action.product.ProductedListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productedList</servlet-name>
    <url-pattern>/producted_list_page.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productedDelete</servlet-name>
    <servlet-class>com.xkd.action.product.ProductedDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productedDelete</servlet-name>
    <url-pattern>/producted_delete.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productedAddPage</servlet-name>
    <servlet-class>com.xkd.action.product.ProductedAddPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productedAddPage</servlet-name>
    <url-pattern>/producted_add_page.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productedAdd</servlet-name>
    <servlet-class>com.xkd.action.product.ProductedAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productedAdd</servlet-name>
    <url-pattern>/producted_add.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginPage</servlet-name>
    <servlet-class>com.xkd.action.LoginPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPage</servlet-name>
    <url-pattern>/loginPage.action</url-pattern>
  </servlet-mapping>
</web-app>